*
{
    background-color: black;
}


.header1
{
    font-size: 20px;
    background-color: black;
    text-decoration: underline;
    text-align: center;
    padding: 30px;
    margin-bottom: 10px;
    color: #EEEEEE;
}

.header2
{
    text-decoration: underline;
    background-color:black;
    text-align:center;
    padding: 20px;
    margin-bottom: 10px;
    color: #EEEEEE;
    font-size: 23px;
}

.header3
{
    text-decoration: underline;
    background-color:black;
    text-align:center;
    padding: 15px;
    margin-bottom: 10px;
    color: #EEEEEE;
    font-size: 23px;
}

.header4
{
    text-decoration: underline;
    background-color:black;
    text-align:center;
    padding: 15px;
    margin-bottom: 10px;
    color: #EEEEEE;
    font-size: 19px;
}
.header5
{
    text-decoration: underline;
    background-color: black;
    padding: 15px;
    margin-bottom: 10px;
    color: #EEEEEE;
    font-size: 19px;
}

.header6
{
    text-decoration: underline;
    text-align:center;
    background-color:black;
    padding: 15px;
    margin-bottom: 10px;
    color: #EEEEEE;
    font-size: 20px;

}

.gif0
{
    margin-left:auto;
    margin-right:auto;
    max-width: 38%;
}

.image1
{
  
  margin-left:auto;
  margin-right:auto;
  max-width:50%;
    
}

.image2
{
    margin-left:auto;
    margin-right:auto;
    max-width:70%;
}

.paragraph
{
    font-size: 18px;
    background-color: black;
    padding: 10px;
    margin-bottom: 5px;
    color: #EEEEEE;
    text-align:center;
}

.gif2
{
    margin-left:auto;
    margin-right:auto;
    max-width:40%;
}

.paragraph2
{
    font-size: 20px;
    background-color: black;
    padding: 10px;
    margin-bottom: 5px;
    color: #EEEEEE;
    text-align:center;
}

.gif3
{
    margin-left:auto;
    margin-right:auto;
    max-width:40%;

}

.gif4
{
margin-left:auto;
margin-right:auto;
max-width:50%;
}

.paragraph3
{
    font-size: 20px;
    background-color: black;
    padding: 10px;
    margin-bottom: 5px;
    color: #EEEEEE;
    text-align:center;
}

li{
    background-color: black;
    padding: 10px;
    margin-bottom: 5px;
    color: #EEEEEE;
    font-size: 20px;
}

.paragraph4
{
    font-size: 20px;
    background-color: black;
    padding: 10px;
    margin-bottom: 5px;
    color: #EEEEEE;
    text-align:center;
}

.image3
{
   
   margin-left:auto;
   margin-right:auto;
   max-width:70%;
   
    
}

.header7
{
    background-color:black;
    text-decoration:underline;
    text-align:center;
    color:#EEEEEE;
    font-size:20px;
    margin-bottom: 10px;
    padding: 15px;
}

.header8
{
    background-color:black;
    text-decoration:underline;
    text-align:center;
    color: #EEEEEE;
    font-size: 15px;
    margin-bottom: 10px;
    padding:10px;
}

.finalheader
{
    background-color:black;
    text-align:center;
    color: #EEEEEE;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;
}