

.header1
{
    text-align: center;
}

.header2
{
    text-align:center;
}

.image1
{
  margin-left:auto;
  margin-right:auto;
  max-width:50%;
    
}

.image2
{
    margin-left:auto;
    margin-right:auto;
    max-width:70%;
}

.paragraph
{
    text-align:center;
}